## Try TypeScript 2.0 and 2.1

{{links}}

## Resources

- https://blogs.msdn.microsoft.com/typescript/2016/12/07/announcing-typescript-2-1
- https://blogs.msdn.microsoft.com/typescript/2016/07/11/announcing-typescript-2-0-beta
- https://github.com/Microsoft/TypeScript/wiki/What%27s-new-in-TypeScript
- https://basarat.gitbooks.io/typescript